#footer.center
	div.icon
		a.fa.fa-github.fa-lg.link(href="https://github.com/WLinYu")
		a.fa.fa-weibo.fa-lg.red.indent(href="http://weibo.com/3313110087/profile?topnav=1&wvr=6&is_all=1")
	div.fa.fa-copyright 2016-&nbsp;&nbsp;WLY&nbsp;&nbsp;Powered by 
		a.blue(href="https://hexo.io/") &nbsp;Hexo
