#menu
    
	a(href="/")
		img.img(src=url_for("images/logo.jpg"))
 
	.pure-menu.pure-menu-open.center
		a.pure-menu-heading(href="/archives") Archives

	div.center.textDist
		p.text JUST DO IT.
		p.text LET'S MAKE THINGS BETTER.
